[submodule "tmux/plugins/tmux-copycat"]
	path = tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat.git
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "tmux/plugins/tmux-open"]
	path = tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open.git
[submodule "tmux/plugins/tmux-mem-cpu-load"]
	path = tmux/tmux-mem-cpu-load
	url = https://github.com/thewtex/tmux-mem-cpu-load/
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/plugins/tmux-cpu"]
	path = tmux/plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu
