.credentials
.stignore
.stversions
_archive
bin
bookmarks
dojo/
mime/x-wine-extension-*
mindful/
nvim/.netrwhist
nvim/tmp
nvim/user
packer_compiled.lua
plan/
polybar/modules/forecast
ranger/bookmarks
ranger/history
ranger/tagged
shell/local
shell/private
tags
unused
vim/black
vim/tmp
zeit/
claude/commands
hypr/host.conf
