nvim/.netrwhist
nvim/tmp
nvim/user
ranger/history
ranger/bookmarks
ranger/tagged
shell/private
shell/local
zeit/
plan/
mime/x-wine-extension-*
mindful/
dojo/
bin
bookmarks
polybar/modules/forecast
tags
unused
vim/black
vim/tmp
_archive
.credentials
.stversions
.stignore
