// europa: Dell XPS 13, FHD+ 1920x1200, Intel Iris Xe.

spawn-at-startup "~/.config/niri/scripts/monitor-handler.sh"

layout {
    gaps 6
}

switch-events {
    lid-close { spawn "swaylock"; }
    lid-open { spawn "niri" "msg" "action" "power-on-monitors"; }
}
