material "terminal-glass" {
    glass {
        ior 1.38
        thickness 32
        attenuation-color "#bbc7db"
        attenuation-distance 178
        chromatic-aberration 0.68
        distortion 0.32 scale=0.05
        anisotropic-blur 0
        jelly-flex 0.0038
        jelly-ripple 0.15
        bevel 9
        offset-x 4
        offset-y 4
    }
}

window-rule {
    match app-id=r#"^(kitty|com\.mitchellh\.ghostty)$"#
    material "terminal-glass"
    background-effect {
        blur false
        noise 0
        saturation 1
    }
}
