configuration {
    modi: "drun";
    combi-modi: "window,drun,ssh,tasks:~/.dotfiles/rofi/scripts/rofi-tasks.sh";
    //theme: "~/.cache/wal/colors-rofi-dark.rasi";
    font: "hack 12";
}
//@theme "/usr/share/rofi/themes/blue.rasi"
@theme "/usr/share/rofi/themes/purple.rasi"
