[Unit]
Description=Rotate the wallpaper every 15 minutes

[Timer]
OnActiveSec=15min
OnUnitActiveSec=15min
AccuracySec=1min
Unit=wali-rotate.service

[Install]
WantedBy=timers.target
